@{
    ViewData["title"] = "Home Page";
}
@model List<MVC_FinalTerm.Models.ProductModel>
<!--Banner-->
<section class="slider_section">
    <div class="main_slider" data-slick='{"arrows": false}'>
        
        <div class="slider_item">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="order-last col col-lg-6 col-md-6 col-sm-6">
                        <div class="slider_image" data-animation="fadeInRight" data-delay=".2s">
                            <img src="~/frontend/images/banners/nang-cap-ipone-performance-15-8.jpg" alt="">
                        </div>
                    </div>
                    <div class="col col-lg-5 col-md-6 col-sm-6">
                        <div class="slider_content">
                            <h3 class="small_title" data-animation="fadeInUp2" data-delay=".2s">IPHONE</h3>
                            <h4 class="big_title" data-animation="fadeInUp2" data-delay=".4s">IPHONE 15 PRO MAX</h4>
                            <p data-animation="fadeInUp2" data-delay=".6s">Dynamic Island hiển thị linh động</p>
                            <a class="btn btn_primary" asp-controller="Product" asp-action="Index" data-animation="fadeInUp2" data-delay=".8s">Start Buying</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider_item">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="order-last col col-lg-6 col-md-6 col-sm-6">
                        <div class="slider_image" data-animation="fadeInRight" data-delay=".2s">
                            <img src="~/frontend/images/banners/Sliding Rog Ally X-home.jpg" alt="">
                        </div>
                    </div>
                    <div class="col col-lg-5 col-md-6 col-sm-6">
                        <div class="slider_content">
                            <h3 class="small_title" data-animation="fadeInUp2" data-delay=".2s">GAMING GEAR</h3>
                            <h4 class="big_title" data-animation="fadeInUp2" data-delay=".4s">ROG ALLY X</h4>
                            <p data-animation="fadeInUp2" data-delay=".6s">Play All Your Games</p>
                            <a class="btn btn_primary" asp-controller="Product" asp-action="Index" data-animation="fadeInUp2" data-delay=".8s">Start Buying</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider_item">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="order-last col col-lg-6 col-md-6 col-sm-6">
                        <div class="slider_image" data-animation="fadeInRight" data-delay=".2s">
                            <img src="~/frontend/images/banners/gaming-vivobook-banner-home-12-08.jpg" alt="">
                        </div>
                    </div>
                    <div class="col col-lg-5 col-md-6 col-sm-6">
                        <div class="slider_content">
                            <h3 class="small_title" data-animation="fadeInUp2" data-delay=".2s">LAPTOP</h3>
                            <h4 class="big_title" data-animation="fadeInUp2" data-delay=".4s">ASUS Gaming Vivobook</h4>
                            <p data-animation="fadeInUp2" data-delay=".6s">Laptop gaming mỏng nhẹ bền bỉ cho học sinh sinh viên</p>
                            <a class="btn btn_primary" asp-controller="Product" asp-action="Index" data-animation="fadeInUp2" data-delay=".8s">Start Buying</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider_section - end
================================================== -->
<!--Policy-->
<!-- policy_section - start
           ================================================== -->
<section class="policy_section">
    <div class="policy_item">
        <div class="item_icon">
            <i class="icon icon-Truck"></i>
        </div>
        <div class="item_content">
            <h3 class="item_title">Free Shipping</h3>
            <p>
                Free shipping on all US order
            </p>
        </div>
    </div>

    <div class="policy_item">
        <div class="item_icon">
            <i class="icon icon-Headset"></i>
        </div>
        <div class="item_content">
            <h3 class="item_title">Support 24/7</h3>
            <p>
                Contact us 24 hours a day
            </p>
        </div>
    </div>

    <div class="policy_item">
        <div class="item_icon">
            <i class="icon icon-Wallet"></i>
        </div>
        <div class="item_content">
            <h3 class="item_title">100% Money Back</h3>
            <p>
                You have 30 days to Return
            </p>
        </div>
    </div>

    <div class="policy_item">
        <div class="item_icon">
            <i class="fa-light fa-rocket"></i>
        </div>
        <div class="item_content">
            <h3 class="item_title">30 Days Return</h3>
            <p>
                If goods have problems
            </p>
        </div>
    </div>

    <div class="policy_item">
        <div class="item_icon">
            <i class="icon icon-Dollars"></i>
        </div>
        <div class="item_content">
            <h3 class="item_title">Payment Secure</h3>
            <p>
                We ensure secure payment
            </p>
        </div>
    </div>
</section>
<!-- policy_section - end
================================================== -->
<!-- promotion_section - start
            ================================================== -->
@* <section class="promotion_section">
    <div class="container">
        <div class="row promotion_banner_wrap">
            <div class="col col-lg-6">
                <div class="promotion_banner">
                    <div class="item_image">
                        <img src="~/assets/images/promotion/banner_img_1.png" alt="Getyootech - Gadgets Ecommerce Site Template">
                    </div>
                    <div class="item_content">
                        <h3 class="item_title">Protective Sleeves</h3>
                        <p>
                            It is a long established fact that a reader will be distracted
                        </p>
                        <a class="btn btn_primary" href="shop_details.html">Shop Now</a>
                    </div>
                </div>
            </div>

            <div class="col col-lg-6">
                <div class="promotion_banner">
                    <div class="item_image">
                        <img src="~/assets/images/promotion/banner_img_2.png" alt="Getyootech - Gadgets Ecommerce Site Template">
                    </div>
                    <div class="item_content">
                        <h3 class="item_title">Nutrillet Blender</h3>
                        <p>
                            It is a long established fact that a reader will be distracted
                        </p>
                        <a class="btn btn_primary" href="shop_details.html">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
<!-- promotion_section - end
================================================== -->
<!-- New Arrivals Section -->
<section class="new_arrivals_section section_space">
    <div class="container">
        <div class="section_title mb-0">
            <h2 class="title_text"><i class="fa-duotone fa-sparkles"></i> New Arrivals</h2>
        </div>
        <div class="row newarrivals_products">
            <div class="col col-lg-5">
                <div class="deals_product_layout1">
                    <div class="bg_area">
                        <h3 class="item_title">Best Product Deals</h3>
                        <p>
                            Get a 20% Cashback when buying TWS Product From our Audio Technology.
                        </p>
                        <a class="btn border_primary" asp-controller="Product" asp-action="Index">Shop Now</a>
                        @* <div class="item_image">
                            <img src="assets/images/deals/deals_product_1.png" alt="Getyootech - Gadgets Ecommerce Site Template">
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="col col-lg-7">
                <div class="new_arrivals_carousel arrows_topright">
                    <div class="common_carousel_2" data-slick='{"dots": false}'>
                        @foreach (var item in Model.Where(p => p.StatusName == "New"))
                        {
                            <div class="product_layout1">
                                @if (item.StatusName == "Hot")
                                {
                                    <div class="item_badge hot_badge">
                                        <span>HOT</span>
                                    </div>
                                }
                                else if (item.StatusName == "New")
                                {
                                    <div class="item_badge new_badge">
                                        <span>NEW</span>
                                    </div>
                                }
                                else if (item.StatusName == "Sales")
                                {
                                    <div class="item_badge sale_badge">
                                        <span>SALE</span>
                                    </div>
                                }
                                <div class="item_image">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">
                                        <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">@item.Name</a>
                                    </h3>
                                    <ul class="rating_star ul_li">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (item.Reviews != null && item.Reviews.Any(r => r.Rating >= i))
                                            {
                                                <li><i class="fa-solid fa-star"></i></li>
                                            }
                                            else
                                            {
                                                <li><i class="fa-regular fa-star"></i></li>
                                            }
                                        }
                                    </ul>
                                    <div class="item_price">
                                        <span>@item.Price</span>
                                        <del>@item.OldPrice</del>
                                    </div>
                                    <ul class="item_btns_group ul_li">
                                        <li><a class="addtocart_btn" asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id">Add To Cart</a></li>
                                        @if (User.Identity?.IsAuthenticated ?? false)
                                        {
                                            <li>
                                                <form asp-controller="WishList" asp-action="Add" method="post">
                                                    <input type="hidden" name="productId" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0">
                                                        <i class="fas fa-heart"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@Url.Action("Login", "Account")" class="btn btn-link p-0" style="border: none; background: none;">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="carousel_nav">
                        <button type="button" class="cc2_left_arrow"><i class="fa-regular fa-angle-left"></i></button>
                        <button type="button" class="cc2_right_arrow"><i class="fa-regular fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product Section -->
<section class="product_section">
    <div class="container">
        <ul class="tabs_nav nav" role="tablist">
            <li role="presentation">
                <button class="active" data-bs-toggle="tab" data-bs-target="#bestseller_tab" type="button" role="tab" aria-selected="true">Best Seller</button>
            </li>
            <li role="presentation">
                <button data-bs-toggle="tab" data-bs-target="#ourproduct_tab" type="button" role="tab" aria-selected="false">Our Product</button>
            </li>
            <li role="presentation">
                <button data-bs-toggle="tab" data-bs-target="#newproduct_tab" type="button" role="tab" aria-selected="false">New Product</button>
            </li>
            <li role="presentation">
                <button data-bs-toggle="tab" data-bs-target="#hotdeal_tab" type="button" role="tab" aria-selected="false">Hot Deal</button>
            </li>
        </ul>

        <div class="tab-content tad_has_carousel">
            <!-- Best Seller Tab -->
            <div class="tab-pane fade show active" id="bestseller_tab" role="tabpanel">
                <div class="product_carousel_wrap arrows_topright">
                    <div class="best_seller_carousel" data-slick='{"dots": false}'>
                        @foreach (var item in Model.Where(p => p.StatusName == "Hot"))
                        {
                            <div class="product_layout1">
                                @if (item.StatusName == "Hot")
                                {
                                    <div class="item_badge hot_badge">
                                        <span>HOT</span>
                                    </div>
                                }
                                else if (item.StatusName == "New")
                                {
                                    <div class="item_badge new_badge">
                                        <span>NEW</span>
                                    </div>
                                }
                                else if (item.StatusName == "Sales")
                                {
                                    <div class="item_badge sale_badge">
                                        <span>SALE</span>
                                    </div>
                                }
                                <div class="item_image">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">
                                        <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">@item.Name</a>
                                    </h3>

                                    <ul class="rating_star ul_li">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (item.Reviews != null && item.Reviews.Any(r => r.Rating >= i))
                                            {
                                                <li><i class="fa-solid fa-star"></i></li>
                                            }
                                            else
                                            {
                                                <li><i class="fa-regular fa-star"></i></li>
                                            }
                                        }
                                    </ul>
                                    <div class="item_price">
                                        <span>@item.Price</span>
                                        <del>@item.OldPrice</del>
                                    </div>
                                    <ul class="item_btns_group ul_li">
                                        <li><a class="addtocart_btn" asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id">Add To Cart</a></li>
                                        @if (User.Identity?.IsAuthenticated ?? false)
                                        {
                                            <li>
                                                <form asp-controller="WishList" asp-action="Add" method="post">
                                                    <input type="hidden" name="productId" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0">
                                                        <i class="fas fa-heart"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@Url.Action("Login", "Account")" class="btn btn-link p-0" style="border: none; background: none;">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <!-- Our Product Tab -->
            <div class="tab-pane fade" id="ourproduct_tab" role="tabpanel">
                <div class="product_carousel_wrap arrows_topright">
                    <div class="common_carousel_3" data-slick='{"dots": false}'>
                        @foreach (var item in Model)
                        {
                            <div class="product_layout1">
                                @if (item.StatusName == "Hot")
                                {
                                    <div class="item_badge hot_badge">
                                        <span>HOT</span>
                                    </div>
                                }
                                else if (item.StatusName == "New")
                                {
                                    <div class="item_badge new_badge">
                                        <span>NEW</span>
                                    </div>
                                }
                                else if (item.StatusName == "Sales")
                                {
                                    <div class="item_badge sale_badge">
                                        <span>SALE</span>
                                    </div>
                                }
                                <div class="item_image">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">
                                        <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">@item.Name</a>
                                    </h3>

                                    <ul class="rating_star ul_li">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (item.Reviews != null && item.Reviews.Any(r => r.Rating >= i))
                                            {
                                                <li><i class="fa-solid fa-star"></i></li>
                                            }
                                            else
                                            {
                                                <li><i class="fa-regular fa-star"></i></li>
                                            }
                                        }
                                    </ul>
                                    <div class="item_price">
                                        <span>@item.Price</span>
                                        <del>@item.OldPrice</del>
                                    </div>
                                    <ul class="item_btns_group ul_li">
                                        <li><a class="addtocart_btn" asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id">Add To Cart</a></li>
                                        @if (User.Identity?.IsAuthenticated ?? false)
                                        {
                                            <li>
                                                <form asp-controller="WishList" asp-action="Add" method="post">
                                                    <input type="hidden" name="productId" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0">
                                                        <i class="fas fa-heart"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@Url.Action("Login", "Account")" class="btn btn-link p-0" style="border: none; background: none;">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <!-- New Product Tab -->
            <div class="tab-pane fade" id="newproduct_tab" role="tabpanel">
                <div class="product_carousel_wrap arrows_topright">
                    <div class="new_product_carousel" data-slick='{"dots": false}'>
                        @foreach (var item in Model.Where(p => p.StatusName == "New"))
                        {
                            <div class="product_layout1">
                                @if (item.StatusName == "Hot")
                                {
                                    <div class="item_badge hot_badge">
                                        <span>HOT</span>
                                    </div>
                                }
                                else if (item.StatusName == "New")
                                {
                                    <div class="item_badge new_badge">
                                        <span>NEW</span>
                                    </div>
                                }
                                else if (item.StatusName == "Sales")
                                {
                                    <div class="item_badge sale_badge">
                                        <span>SALE</span>
                                    </div>
                                }
                                <div class="item_image">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">
                                        <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">@item.Name</a>
                                    </h3>

                                    <ul class="rating_star ul_li">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (item.Reviews != null && item.Reviews.Any(r => r.Rating >= i))
                                            {
                                                <li><i class="fa-solid fa-star"></i></li>
                                            }
                                            else
                                            {
                                                <li><i class="fa-regular fa-star"></i></li>
                                            }
                                        }
                                    </ul>
                                    <div class="item_price">
                                        <span>@item.Price</span>
                                        <del>@item.OldPrice</del>
                                    </div>
                                    <ul class="item_btns_group ul_li">
                                        <li><a class="addtocart_btn" asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id">Add To Cart</a></li>
                                        @if (User.Identity?.IsAuthenticated ?? false)
                                        {
                                            <li>
                                                <form asp-controller="WishList" asp-action="Add" method="post">
                                                    <input type="hidden" name="productId" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0">
                                                        <i class="fas fa-heart"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@Url.Action("Login", "Account")" class="btn btn-link p-0" style="border: none; background: none;">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <!-- Hot Deal Tab -->
            <div class="tab-pane fade" id="hotdeal_tab" role="tabpanel">
                <div class="product_carousel_wrap arrows_topright">
                    <div class="hot_deal_carousel" data-slick='{"dots": false}'>
                        @foreach (var item in Model.Where(p => p.StatusName == "Sales"))
                        {
                            <div class="product_layout1">
                                @if (item.StatusName == "Hot")
                                {
                                    <div class="item_badge hot_badge">
                                        <span>HOT</span>
                                    </div>
                                }
                                else if (item.StatusName == "New")
                                {
                                    <div class="item_badge new_badge">
                                        <span>NEW</span>
                                    </div>
                                }
                                else if (item.StatusName == "Sales")
                                {
                                    <div class="item_badge sale_badge">
                                        <span>SALE</span>
                                    </div>
                                }
                                <div class="item_image">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                    <img src="~/frontend/images/products/@item.Image" alt="@item.Name">
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">
                                        <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">@item.Name</a>
                                    </h3>

                                    <ul class="rating_star ul_li">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (item.Reviews != null && item.Reviews.Any(r => r.Rating >= i))
                                            {
                                                <li><i class="fa-solid fa-star"></i></li>
                                            }
                                            else
                                            {
                                                <li><i class="fa-regular fa-star"></i></li>
                                            }
                                        }
                                    </ul>
                                    <div class="item_price">
                                        <span>@item.Price</span>
                                        <del>@item.OldPrice</del>
                                    </div>
                                    <ul class="item_btns_group ul_li">
                                        <li><a class="addtocart_btn" asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id">Add To Cart</a></li>
                                        @if (User.Identity?.IsAuthenticated ?? false)
                                        {
                                            <li>
                                                <form asp-controller="WishList" asp-action="Add" method="post">
                                                    <input type="hidden" name="productId" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0">
                                                        <i class="fas fa-heart"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@Url.Action("Login", "Account")" class="btn btn-link p-0" style="border: none; background: none;">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- brand_section - start
            ================================================== -->
<div class="brand_section section_space pb-0">
    <div class="container">
        <div class="brand_carousel">
            <div class="slider_item">
                <a class="product_brand_logo" href="#!">
                    <img src="~/frontend/images/brands/apple.jpg">
                    <img src="~/frontend/images/brands/apple.jpg">
                </a>
            </div>
            <div class="slider_item">
                <a class="product_brand_logo" href="#!">
                    <img src="~/frontend/images/brands/samsung.jpg">
                    <img src="~/frontend/images/brands/samsung.jpg">
                </a>
            </div>
            <div class="slider_item">
                <a class="product_brand_logo" href="#!">
                    <img src="~/frontend/images/brands/xiaomi.jpg">
                    <img src="~/frontend/images/brands/xiaomi.jpg">
                </a>
            </div>
            <div class="slider_item">
                <a class="product_brand_logo" href="#!">
                    <img src="~/frontend/images/brands/oppo.jpg">
                    <img src="~/frontend/images/brands/oppo.jpg">
                </a>
            </div>
            <div class="slider_item">
                <a class="product_brand_logo" href="#!">
                    <img src="~/frontend/images/brands/sony.jpg">
                    <img src="~/frontend/images/brands/sony.jpg">
                </a>
            </div>
            <div class="slider_item">
                <a class="product_brand_logo" href="#!">
                    <img src="~/frontend/images/brands/lenovo.jpg">
                    <img src="~/frontend/images/brands/lenovo.jpg">
                </a>
            </div>
            <div class="slider_item">
                <a class="product_brand_logo" href="#!">
                    <img src="~/frontend/images/brands/asus.jpg">
                    <img src="~/frontend/images/brands/asus.jpg">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- brand_section - end
================================================== -->
